.trending{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}

.movieCard{
    float: left;
    height: 350px;
    width:200px;
    margin: 10px;
    overflow: hidden;
    color: black;
    
}

.movieCard:hover{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    
}

.movieimg{
    height: 300px;
    width:200px;
    border-radius: 5px;
}

.details {
    margin-top: 20px;

}

.movieD{
    background-color: rgba(0, 0, 0, 1);

}

.movieDetail{
    display: flex;
    text-align: justify;
    padding: 5px;
    margin-right: 150px;
    margin-left: 150px;
}

.detailTitle{
    margin-left:20px;
}

.moviedimg{
    height: 370px;
    width:270px;
    border-radius: 5px;
}

