.navbar{
    display: flexbox;
    height: 60px;
    background-color: indigo;
    padding: 10px;
    margin: 0;
    align-items: center;
    justify-content: center;
}

#navlogo{
    color: white;
    float: left;
}

.navlinks{
    text-decoration: none;
    float: right;
    display: block;
    list-style-type: none;
}

.navitems{
    margin: 5px 20px;
    float: left;
}

.link {
    color: white;
    text-decoration: none;
    font-size: large;
}